/* #############################################################################
##############################   OVERALL STYLES   ##############################
############################################################################## */


/* =============================================================================
   HEADER
============================================================================== */


/* =============================================================================
   BODY
============================================================================== */


/* =============================================================================
   FOOTER
============================================================================== */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: auto;
}

/* #############################################################################
##############################   SPECIFIC PAGES   ##############################
############################################################################## */

/* =============================================================================
   "Portfolio" page
============================================================================== */



/* =============================================================================
   "À propos" page
============================================================================== */



/* =============================================================================
   "Contact" page
============================================================================== */
